*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.summary {
    background: -webkit-linear-gradient(180deg, hsla(5, 100%, 81%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    background: linear-gradient(180deg, hsla(46, 75%, 92%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    width: 100%;
    height: 100vh;
    margin: 0;
}

.answer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 5rem;
}

.summary-card {
display: flex;
flex-direction: column;
gap: 1rem;
background-color: rgb(195, 252, 233);
max-width: 300px;   
max-height: 400px;
height: 100%;
padding: 1rem;
box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.51);
-webkit-box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.51);
-moz-box-shadow: 5px 6px 23px 1px rgba(0,0,0,0.51);
}

.counter {
    background-color: rgb(183, 187, 250);
    width: 100%;
    height: 15%;
}


/*
background: linear-gradient(180deg, hsla(5, 100%, 81%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -moz-linear-gradient(180deg, hsla(5, 100%, 81%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -webkit-linear-gradient(180deg, hsla(5, 100%, 81%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: linear-gradient(180deg, hsla(46, 75%, 92%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -moz-linear-gradient(180deg, hsla(46, 75%, 92%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -webkit-linear-gradient(180deg, hsla(46, 75%, 92%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: linear-gradient(180deg, hsla(168, 67%, 83%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -moz-linear-gradient(180deg, hsla(168, 67%, 83%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -webkit-linear-gradient(180deg, hsla(168, 67%, 83%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: linear-gradient(180deg, hsla(187, 44%, 78%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -moz-linear-gradient(180deg, hsla(187, 44%, 78%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -webkit-linear-gradient(180deg, hsla(187, 44%, 78%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: linear-gradient(180deg, hsla(222, 10%, 41%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -moz-linear-gradient(180deg, hsla(222, 10%, 41%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
background: -webkit-linear-gradient(180deg, hsla(222, 10%, 41%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
*/